ws-portainer.akorz.duckdns.org {
    reverse_proxy 192.168.1.132:9000
}
pi-portainer.akorz.duckdns.org {
    reverse_proxy 192.168.1.58:9000
}
jellyfin.akorz.duckdns.org {
    reverse_proxy 192.168.1.132:8096
}
transmission.akorz.duckdns.org {
    basicauth {
        admin $2a$14$9SIqO/8k6wtbJEu83KsVmeSkZ6YS7vHlKzn2loOpFG42quMl7SV4O
    }
    reverse_proxy 192.168.1.132:9092
}
wol.akorz.duckdns.org {
    basicauth {
        admin $2a$14$Zy4S4Ae0Oy08KtRM1oWwuu99WEK4T5G5vVAHGGlx9GlUlfd798OBO
    }
    reverse_proxy 192.168.1.58:8080
}
grafana.akorz.duckdns.org {
    reverse_proxy 192.168.1.132:3000
}
firefly.akorz.duckdns.org {
    reverse_proxy 192.168.1.132:8081
}
loki.akorz.duckdns.org {
    basicauth {
        admin $2a$14$4vje.NUXnXql9H4mKa5fvOAnOWI34bMaUBbfGKfQrqoj1UEUm1gaW
    }
    reverse_proxy 192.168.1.132:3100
}
homepage.akorz.duckdns.org {
    reverse_proxy 192.168.1.58:3030
}
dwman-test.akorz.duckdns.org {
    reverse_proxy 192.168.1.132:8088
}
supericosahedron.akorz.duckdns.org {
    reverse_proxy 192.168.1.58:8282
}
3x-ui.akorz.duckdns.org {
    reverse_proxy 192.168.1.132:2053
}
