ws-portainer.akorz.duckdns.org {
    reverse_proxy 192.168.1.132:9000
}
pi-portainer.akorz.duckdns.org {
    reverse_proxy 192.168.1.58:9000
}
jellyfin.akorz.duckdns.org {
    reverse_proxy 192.168.1.132:8096
}
transmission.akorz.duckdns.org {
    basicauth {
        admin $2a$14$9SIqO/8k6wtbJEu83KsVmeSkZ6YS7vHlKzn2loOpFG42quMl7SV4O
    }
    reverse_proxy 192.168.1.132:9092
}
wol.akorz.duckdns.org {
    basicauth {
        admin $2a$14$Zy4S4Ae0Oy08KtRM1oWwuu99WEK4T5G5vVAHGGlx9GlUlfd798OBO
    }
    reverse_proxy 192.168.1.58:8080
}
grafana.akorz.duckdns.org {
    reverse_proxy 192.168.1.132:3000
}
firefly.akorz.duckdns.org {
    reverse_proxy 192.168.1.132:8081
}
loki.akorz.duckdns.org {
    basicauth {
        admin $2a$14$4vje.NUXnXql9H4mKa5fvOAnOWI34bMaUBbfGKfQrqoj1UEUm1gaW
    }
    reverse_proxy 192.168.1.132:3100
}
homepage.akorz.duckdns.org {
    reverse_proxy 192.168.1.58:3030
}
dwman-test.akorz.duckdns.org {
    reverse_proxy 192.168.1.132:8088
}
supericosahedron.akorz.duckdns.org {
    reverse_proxy 192.168.1.58:8282
}
3x-ui.akorz.duckdns.org {
    reverse_proxy 192.168.1.132:2053
}
test-aurora-api.akorz.duckdns.org {
    reverse_proxy 192.168.1.132:8089
}
test-polar-lights.akorz.duckdns.org {
    reverse_proxy 192.168.1.132:8090
}
open-webui.akorz.duckdns.org {
    reverse_proxy 192.168.1.132:8080
}
chat.akorz.duckdns.org {
    reverse_proxy 192.168.1.132:3333
}
git.akorz.duckdns.org {
    reverse_proxy 192.168.1.132:3301
}
m.akorz.duckdns.org {
    # @websockets {
    #   header -Connection
    #   header -Upgrade
    #   header -Sec-WebSocket-Accept
    #   header -Sec-Websocket-Protocol
    #   header -Sec-Websocket-Version
    # }
    reverse_proxy * https://mion.koa.gazprom-neft.ru {
        @websockets {
            header Connection *Upgrade*
            header Upgrade websocket
        }
        header_up Host {http.reverse_proxy.upstream.hostport}
        header_up Content-Security-Policy "default-src 'self'; script-src 'self' https://mion.koa.gazprom-neft.ru;"
        header_down -Strict-Transport-Security
    }
}
