akorz-sw1.duckdns.org {
    reverse_proxy localhost:9000
}
portainer.akorz-sw1.duckdns.org {
    reverse_proxy localhost:9000
}
wireguard.akorz-sw1.duckdns.org {
    basicauth {
        admin $2a$14$x/Uu9yowDoE1d4ORgJ2wVeCmCyhnOTXCfqgUxK8hzTtIDp0RsnW8.
    }
    reverse_proxy localhost:51821
}
3x-ui.akorz-sw1.duckdns.org {
    reverse_proxy localhost:2053
}
test-dwman.akorz-sw1.duckdns.org {
    reverse_proxy localhost:8000
}
dwman.akorz-sw1.duckdns.org {
    reverse_proxy localhost:8088
}
