services:
  caddy:
    image: caddy:2-alpine
    container_name: caddy
    restart: unless-stopped
    ports:
      - 80:80
      - 443:443
    volumes:
      - ./caddy_data:/data:rw
      - ./caddy_config:/config:rw
      - ./Caddyfile:/etc/caddy/Caddyfile:ro
    deploy:
      resources:
        limits:
          memory: 50M
        reservations:
          memory: 10M
    networks:
      - monitoring
      - main

networks:
  monitoring:
    external: true
  main:
    external: true
