---
# For configuration options and examples, please see:
# https://gethomepage.dev/latest/configs/services

- Global services:
    - WS-Portainer:
        href: https://ws-portainer.{{ DNS_HOME }}
        description: Workstation container dashboard
        icon: si-portainer
    - Grafana:
        href: https://grafana.{{ DNS_HOME }}
        description: Monitoring and dashboards
        icon: si-grafana
    - Jellyfin:
        href: https://jellyfin.{{ DNS_HOME }}
        description: Mediaserver
        icon: si-jellyfin
    - Trasmission:
        href: https://transmission.{{ DNS_HOME }}
        description: Torrent client
        icon: si-transmission
    - WakeOnLan:
        href: https://wol.{{ DNS_HOME }}
        description: Remote wake service
        icon: mdi-lan
    - Firefly:
        href: https://firefly.{{ DNS_HOME }}
        description: Finance tracking service
        icon: si-fireflyiii

- Local services:
    - WS-Portainer-local:
        href: http://{{ HOST_LOCAL_WS_IP }}:9000
        description: Workstation container dashboard
        icon: si-portainer
    - Semaphore-local:
        href: http://{{ HOST_LOCAL_WS_IP }}:8300
        description:  Web UI to run ansible playbooks
        icon: si-ansible
    - Grafana-local:
        href: http://{{ HOST_LOCAL_WS_IP }}:3000
        description: Monitoring and dashboards
        icon: si-grafana
    - Prometheus-local:
        href: http://{{ HOST_LOCAL_WS_IP }}:9090/targets?search=
        description: Active monitoring jobs
        icon: si-prometheus
    - Jellyfin-local:
        href: http://{{ HOST_LOCAL_WS_IP }}:8096
        description: Mediaserver
        icon: si-jellyfin
    - Trasmission-local:
        href: http://{{ HOST_LOCAL_WS_IP }}:9092
        description: Torrent client
        icon: si-transmission
    - WakeOnLan-local:
        href: http://{{ HOST_LOCAL_PI_IP }}:8080
        description: Remote wake service
        icon: mdi-lan
    - Firefly-local:
        href: http://{{ HOST_LOCAL_WS_IP }}:8081
        description: Finance tracking service
        icon: si-fireflyiii
    - Pi-Portainer-local:
        href: http://{{ HOST_LOCAL_PI_IP }}:9000
        description: Workstation container dashboard
        icon: si-portainer
    - DuckDNS-UI-local:
        href: http://{{ HOST_LOCAL_PI_IP }}:3000
        description: UI for dynamic IP service
        icon: mdi-duck

- SW1 services (DNS):
    - Portainer:
        href: https://portainer.{{ DNS_SW1 }}
        description: Container dashboard
        icon: si-portainer
    - Wireguard:
        href: https://wireguard.{{ DNS_SW1 }}
        description: VPN web UI
        icon: si-wireguard
    - 3x-ui:
        href: https://3x-ui.{{ DNS_SW1 }}
        description: VLESS VPN web UI
        icon: si-ray
    - Dwman:
        href: https://dwman.{{ DNS_SW1 }}
        description: Playlist saver service
        icon: mdi-play
    - test-dwman:
        href: https://test-dwman.{{ DNS_SW1 }}
        description: Test env
        icon: mdi-play

- SW1 services (IP):
    - Portainer:
        href: http://{{ HOST_SW1_IP }}:9000
        description: Container dashboard
        icon: si-portainer

- PL1 services (DNS):
    - Portainer:
        href: https://portainer.{{ DNS_PL1 }}
        description: Container dashboard
        icon: si-portainer
    - 3x-ui:
        href: https://3x-ui.{{ DNS_PL1 }}
        description: VLESS VPN web UI
        icon: si-ray

- PL1 services (IP):
    - Portainer:
        href: http://{{ HOST_PL1_IP }}:9000
        description: Container dashboard
        icon: si-portainer
