- name: Deploy gitea
  hosts: all
  become: false
  vars:
    deploy_compose_dir: "/srv/deploy"
    deploy_compose_service_name: gitea

  tasks:
    - name: Create gitea data dir
      become: true
      ansible.builtin.file:
        path: "{{ deploy_compose_dir }}/{{ deploy_compose_service_name }}/data"
        owner: "{{ ansible_user }}"
        group: "{{ ansible_user }}"
        state: directory
        recurse: true
        mode: "0755"

    - name: Docker compose up {{ deploy_compose_service_name }}
      ansible.builtin.import_role:
        name: deploy_compose
      vars:
        deploy_compose_file: compose.yaml
