akorz-nt1.duckdns.org {
    reverse_proxy localhost:9000
}
portainer.akorz-nt1.duckdns.org {
    reverse_proxy localhost:9000
}
3x-ui.akorz-nt1.duckdns.org {
    reverse_proxy localhost:2053
}
dwman.akorz-nt1.duckdns.org {
    reverse_proxy localhost:8008
}
test-dwman.akorz-nt1.duckdns.org {
    reverse_proxy localhost:8088
}
